.navbar-brand {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
      }
  
      .nav-link {
        color: aliceblue !important;
      }

      * {
        font-family: Arial, Helvetica, sans-serif;
  
      }
  